<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>DEMO CRUD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="encabezado">
    	<h1>Demo Aplicación CRUD</h1>	
    </div>
    <div class="contenido-botones">
    	<div class="cuadro-boton">
    		<a href="/cliente/consultar" class="texto-botones">Clientes</a>
    	</div>
    	<!--
		<div class="cuadro-boton">
    		<a href="/proveedor/consultar" class="texto-botones">Proveedores</a>
		</div>
		-->
    </div>
</body>
</html>